body {
  overscroll-behavior-y: contain;
}
#bg-switcher-base {
  background-color: black;
  background-size: 600pt;
}
#bg-switcher-effect {
  position: absolute;
  z-index: -1;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-size: 600pt;
  opacity: 0;
}
.bg-switcher-animation {
  animation:bg-switcher-crossfade 1s ease-in-out 1;
}
@keyframes bg-switcher-crossfade {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}
