#bg-switcher-menu {
  list-style: none;
  padding: 0;
}

#bg-switcher-menu a {
  text-decoration: none;
  float: left;
  clear: both;
  background-color: #b9b9b9;
  color: black;
  margin: 4px;
  padding: 14px;
  border: solid 4px black;
  border-radius: 10px;
  max-width: 50%;
  transition: background-color 2s;
}

.bg-switcher-menu-selected {
  background-color: white !important;
}
