#bg-switcher-menu menuitem {
  float: left;
  clear: both;
  background-color: #b9b9b9;
  margin: 4px;
  padding: 14px;
  border: solid 4px black;
  border-radius: 10px;
  max-width: 50%;
  transition: background-color 2s;
}

.bg-switcher-menu-selected {
  background-color: white !important;
}
